<section id="tour-guide">
    <div class="row bg">
        <div class="page-header">
            <h1>Tour Guide Service</h1>
            <h4>We provide professional English speaking tour guides for individual or group tours of India.
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col col-3">
            <p>For those who wish to get the most out of their Indian experience we recommend an itinerary that includes
                an accompanying tour guide.</p>
            <p>Your tour guide will stay with you throughout your tour whether you are travelling by vehicle, train or
                plane. This assists with a smooth journey, allowing your guide to learn your preferences and to
                anticipate your needs, delivering a more personalised experience.</p>
        </div>
        <div class="col col-7">
            <p>All our guides are degree qualified, some holding post-graduate qualifications. They have extensive
                knowledge of Indian history and culture. So if you are interested in knowledge such as marriage customs,
                religion, history or current affairs, your guide will enjoy discussing this with you.</p>
            <p>How much interaction you have with your guide is up to you. Some of our clients like to have the guide
                available to assist at check in and during sightseeing, but then prefer to spend time by themselves
                exploring. Other clients appreciate having someone with them to help with local interactions such as
                shopping or in restaurants.</p>
            <p>For us your safety and enjoyment is paramount. We will advise you where there may be security issues and
                will share with you our favourite shops, cafes and restaurants.</p>
            <p>A tour guide will travel and accompany the guests throughout the tour. A tour guide in India must have a
                valid guiding license from the Government of India, where they have to compete an exam and undergo 6
                months theoretical and practical training.</p>
            <p>An accompanying tour guide or escort will assist you with check-in / check-out at the hotels, as well as
                guide you through and explain the history of monuments, places, culture, traditions and customs of the
                Indian people. A tour guide will be at your disposal throughout the tour. The tour guide’s fee will
                always include costs for their accommodation and food.</p>
            <p>&nbsp;</p>
            <div class="col-full clearfix">
                <p>If you just want a driver, please see our&nbsp;<a
                        href="#" routerLink="/private-driver-service">Private Driver Service</a>.</p>
                <p class="rule-above">Please see our service&nbsp;<a href="#" routerLink="/terms">Terms
                        &amp; Conditions</a>.</p>
            </div>
        </div>
    </div>
</section>