<section id="terms">
    <div class="row bg">
        <div class="page-header">
            <h1>Terms &amp; Conditions</h1>
        </div>
    </div>
    <div class="row">
        <div class="col col-10">
            <ul class="icons">
                <li><i class="fa fa-arrow-down3"></i><a href="/terms#reservation">Reservation</a>
                </li>
                <li><i class="fa fa-arrow-down3"></i><a href="/terms#special-requests">Special
                        Requests</a></li>
                <li><i class="fa fa-arrow-down3"></i><a href="/terms#deposit">Deposit</a></li>
                <li><i class="fa fa-arrow-down3"></i><a href="/terms#balance-of-payment">Balance
                        of
                        Payment</a></li>
                <li><i class="fa fa-arrow-down3"></i><a href="/terms#late-bookings">Late
                        Bookings</a>
                </li>
                <li><i class="fa fa-arrow-down3"></i><a href="/terms#changes-by-the-client">Changes
                        by
                        the Client</a></li>
                <li><i class="fa fa-arrow-down3"></i><a href="/terms#changes-by-IDT">Changes by
                        IDT</a>
                </li>
                <li><i class="fa fa-arrow-down3"></i><a href="/terms#refunds-compensation">Refunds
                        &amp;
                        Compensation</a></li>
                <li><i class="fa fa-arrow-down3"></i><a href="/terms#optional-activities">Optional
                        Activities</a></li>
                <li><i class="fa fa-arrow-down3"></i><a href="/terms#travel-insurance">Travel
                        Insurance</a></li>
                <li><i class="fa fa-arrow-down3"></i><a href="/terms#health">Health</a></li>
                <li><i class="fa fa-arrow-down3"></i><a href="/terms#passport-visa">Passport
                        &amp;
                        Visa</a></li>
                <li><i class="fa fa-arrow-down3"></i><a href="/terms#limitations-of-liabilities">Limitations
                        of Liabilities</a></li>
                <li><i class="fa fa-arrow-down3"></i><a href="/terms#conduct-laws">Conduct &amp;
                        Laws</a></li>
                <li><i class="fa fa-arrow-down3"></i><a href="/terms#entrance-fees-tip-kitty">Entrance
                        Fees &amp; Tip Kitty</a></li>
                <li><i class="fa fa-arrow-down3"></i><a href="/terms#images">Images</a></li>
                <li><i class="fa fa-arrow-down3"></i><a href="/terms#complaints">Complaints</a>
                </li>
                <li><i class="fa fa-arrow-down3"></i><a href="/terms#governing-law">Governing
                        Law</a>
                </li>
                <li><i class="fa fa-arrow-down3"></i><a href="/terms#company-details">Details</a>
                </li>
            </ul>

            <h2><a name="reservation"></a>Reservation</h2>
            <p>Your booking and contract with India Custom Tours
                Private
                Limited (IDT) is accepted and becomes legally
                binding
                only from the date when IDT is in receipt of
                your
                non-refundable deposit, subject to availability
                and at
                our discretions. IDT will reserve your place on
                your
                selected arrangements.</p>
            <p>Tour prices are subject to availability of tour,
                airline,
                special economy class fare and specific airfare
                class
                availability. Prices may differ once airfare is
                sold
                out. All services are subject to availability.
                The
                contract is between IDT and the Client, being
                the person
                making the booking, referred to as the lead
                passenger,
                which incorporates these conditions warrants
                that he/she
                has full authority to do so on behalf of all
                persons
                named in the booking, and confirms that all such
                persons
                are fully aware of and accept these conditions.
            </p>
            <p>However, for the avoidance of doubt, the lead
                passenger
                confirms his or her responsibility for all
                payment due
                in respect of all persons within the Party. No
                agent or
                employee of IDT other than a director has the
                authority
                to vary or omit any of these conditions or
                promise any
                discount or refund.</p>
            <p>Passenger names must be provided exactly as per
                passport,
                including middle names, at the time of booking.
                Any
                spelling corrections made after a deposit is
                paid must
                be sent in writing and will incur additional
                fees,
                including any ticket reissue fees. IDT reserves
                the
                right to correct any errors in rates quoted or
                calculated, or any omissions made at any time
                during
                your booking. Any verbal quote given is an
                indication
                only of the final price and is subject to
                confirmation
                in writing.</p>
            <p>When travelling on flights that arrive in the
                early hours
                of the morning your room will not be available
                until the
                specified check-in time. If you wish to check-in
                immediately then please ensure that you book the
                accommodation to commence from the previous
                night. The
                Client accepts the IDT’s booking conditions when
                booking
                any holiday to the above mentioned destinations.
            </p>
            <h2><a name="special-requests"></a>Special Requests
            </h2>
            <p>If the Client has any special requests, they
                should
                inform IDT at the time of booking. IDT and its
                suppliers
                will try to meet such requests but, as these do
                not form
                part of the Contract, IDT does not guarantee to
                do so.
                If IDT confirms that a special request has been
                noted or
                passed to the supplier or refers to it on the
                confirmation invoice or elsewhere, this is not a
                guarantee to meet it. The Client will not be
                specifically notified if a special request
                cannot be
                met. IDT does not accept bookings which are
                conditional
                on the fulfilment of any special request.</p>
            <h2><a name="deposit"></a>Deposit</h2>
            <p>IDT require a 30% deposit plus the cost of any
                flights
                included as part of your itinerary, paid to your
                agent,
                or IDT, or their representative upon acceptance
                of your
                quote within three (3 calendar days. On some
                occasions a
                higher deposit is required, if required you will
                be
                notified at time of booking. By sending a
                deposit the
                client agrees to be bound by the terms,
                conditions and
                responsibilities set forth in this brochure.</p>
            <h2><a name="balance-of-payment"></a>Balance of
                Payment</h2>
            <p>The balance of all monies due, including any
                surcharges
                applicable at that time, must be paid to IDT or
                their
                agent not later than 60 days before departure.
                Failure
                to pay in full by the due date may result in
                additional
                costs, which will be passed on as a late payment
                fee of
                no less than AU$100 per booking or cancellation
                at the
                discretion of IDT. Deposits and payments by
                credit cards
                will incur a fee.</p>
            <h2><a name="late-bookings"></a>Late Bookings</h2>
            <p>Bookings made within 60 days of commencement of
                the tour
                must be paid in full upon receipt of the
                invoice, to be
                accepted.</p>
            <h2><a name="changes-by-the-client"></a>Changes by
                the
                Client</h2>
            <p>The following fees will apply:</p>
            <p>Amendments to confirmed and deposited itineraries
                outside
                of 30 days prior to departure where the value of
                the
                booking is decreased – US$50 per change (a
                change to the
                booking that increases the value will incur no
                fee).</p>
            <p>Reissue of airline tickets – From US$100 per
                person
                (other fees may apply). Once a booking is
                confirmed,
                name transfers may incur additional charges.</p>
            <p>Any changes to the original booking (for example,
                hotel,
                passenger names but not departure dates (see
                below) must
                be confirmed in writing by the person signing
                the
                booking form and must be accompanied by an
                administration fee of US$50 per booking in
                addition to
                any further costs that IDT may incur.</p>
            <p>Whilst every reasonable effort will be made to
                accommodate changes and additional requests,
                their
                availability cannot be guaranteed.</p>
            <p>A change of departure date must be requested in
                writing
                by the person signing the booking form and must
                be
                accompanied by the above administration fee,
                unless the
                request is within 60 days of departure in which
                case
                cancellation fees will be applied. To reiterate,
                these
                charges are in addition to any further charges
                made by
                our appointed agent/ suppliers, whereby you
                would incur
                charges levied by this third party.</p>
            <h3>Substitution of Client</h3>
            <p>If any number of the Party is prevented from
                travelling
                it may be possible to transfer the booking to
                another
                suitable person provided that written notice is
                given at
                least 30 days prior to departure. A “suitable
                person” is
                one who has completed the booking form,
                presented travel
                insurance and obtained approval to travel from
                IDT. An
                administration fee of US$100 will be charged
                plus any
                additional costs that are imposed on IDT.
                Airlines may
                impose 100% cancellation charges and the cost of
                a new
                ticket.</p>
            <p>Changes by the client as detailed above are
                permissible
                when booking a holiday at the standard price,
                not at a
                sale or promotional price.</p>
            <h3>Sale or Promotional Offer</h3>
            <p>Should changes be required on a holiday booked at
                a sale
                or promotional price after the sale has ended,
                100%
                cancellation fees apply. If booking a tour at a
                sale or
                promotional price full payment must be made at
                the time
                of booking, bookings are non-transferrable and
                non-refundable.</p>
            <h3>Cancellation by Client</h3>
            <p>The Client may cancel the booking at any time
                provided
                that the cancellation is communicated to IDT in
                writing.
            </p>
            <p>Cancellation charges will be applied as shown
                below
                calculated from the day when written notice is
                received
                by IDT. The more notice that IDT receives, the
                less IDT
                will charge the Client. However, in addition to
                the
                charges shown below air tickets also incur
                cancellation
                charges as detailed below.</p>
            <ul>
                <li>More than 60 days prior to commencement of
                    tour –
                    loss of deposit plus any administration
                    fees.</li>
                <li>Between 59 and 31 days prior to commencement
                    of tour
                    – 50% of total cost</li>
                <li>30 days or less (including “no show”) prior
                    to
                    commencement of tour 100% of total cost.
                </li>
            </ul>
            <p>If the reason for the cancellation is covered by
                the
                Client’s travel insurance policy, the Client may
                be able
                to reclaim these charges.</p>
            <p>Regrettably cancellations charges and fees cannot
                be
                waived. There can be no exceptions.</p>
            <h2><a name="changes-by-IDT"></a>Changes by IDT</h2>
            <p>Unforeseeable circumstances such as Force
                Majeure,
                adverse weather, flight rescheduling, hotel
                overbooking&nbsp;and faults with transportation
                or road
                conditions may also have an effect on the tour
                itinerary
                after the commencement date.</p>
            <p>IDT’s aim is to operate all tours as quoted but
                by
                entering into the Contract the Client accepts
                that it
                may prove necessary or advisable to vary or
                modify a
                tour itinerary or its contents due to prevailing
                local
                conditions or any other reason.</p>
            <p>Any decision made in respect of tour services to
                re-route
                or amend the itinerary due to any of the above
                or
                similar circumstances is at the discretion of
                the tour
                service provider and IDT shall not be liable for
                any
                claim whatsoever arising from such events.</p>
            <p>IDT reserves the right at any time to cancel or
                change
                any of the facilities, services or prices
                described in
                our brochure, tailormade holiday packages or
                website
                (including transportation costs, fuel costs,
                dues,
                taxes, fees such as landing taxes or
                embarkation/
                disembarkation fees at ports/ airports and
                exchange
                rates) and to substitute alternative
                arrangements of
                comparable monetary value or charge a supplement
                locally
                if alternative arrangements cannot be made,
                without
                compensation to the Client and accepts no
                liability to
                the Client whatsoever for costs or loss of
                enjoyment as
                a result of these changes.</p>
            <p>Examples of minor changes include alteration of
                the
                Client’s outward/ return flights by less than 12
                hours,
                changes to aircraft/transportation type,
                re-routing of
                journeys and a change of accommodation to
                another
                commensurate to the standard as advertised
                within the
                brochure, for the specific tour as confirmed by
                the
                client.</p>
            <p>Please note that the prices detailed in IDT’s
                brochures
                or online may be subject to change, for reasons
                beyond
                the control of IDT.</p>
            <h3>Cancellation by IDT</h3>
            <p>If a tour is cancelled or varied prior to
                departure due
                to unforeseeable&nbsp;circumstances such as, but
                not
                restrIDTed to, severe weather conditions or
                Force
                Majeure, IDT will refund all monies prior to
                commencement less any cancellation fees levied
                by
                airlines and other third parties.</p>
            <p>IDT reserves the right to cancel a tour in any
                circumstances but will not cancel a tour less
                than 60
                days before departure, except for Force Majeure,
                Low
                Bookings or the Client’s failure to pay the
                final
                balance.</p>
            <p>Unless the Client fails to pay the final balance,
                IDT
                will, upon cancellation, return all monies paid
                or offer
                an alternative tour of comparable standard.</p>
            <h3>Packaged Tours “Low Bookings”</h3>
            <p>IDT reserves the right to cancel or vary a tour
                prior to
                departure due to insufficient numbers. In such
                an event
                and alternative itinerary will be offered.
                Should this
                option not be acceptable IDT will refund the
                full price
                paid.</p>
            <h3>Surcharge</h3>
            <p>IDT reserves the right to increase the tour cost
                to take
                account of the following: government action,
                currency
                exchange rates, transportation costs (including
                the cost
                of fuel), overflying charges, airport charges,
                local
                taxes and increase in scheduled air fares.</p>
            <p>If the surcharge results in an increase of more
                than 10%
                of the tour cost excluding amendment charges,
                IDT must
                notify the Client as quickly as possible in
                order to
                enable him to take appropriate decisions, and
                the Client
                may then cancel the booking within 7 days of
                being
                notified of the surcharge and obtain a full
                refund.</p>
            <h2><a name="refunds-compensation"></a>Refunds &amp;
                Compensation</h2>
            <p>No refund will be made for any unused portions of
                the
                holiday after the commencement date.</p>
            <p>All activities and sightseeing are for a single
                entrance.
            </p>
            <p>Please note that employees of any overseas
                company or IDT
                staff are not authorised to give any guarantees
                or
                agreements to customers in respect of refunds or
                any
                other matters.</p>
            <p>No compensation will be paid to the Client if
                cancellation is because of Force Majeure or Low
                Bookings.</p>
            <p>IDT’s acceptance of liability to pay compensation
                pursuant to all bookings is limited, in the case
                of air
                travel, rail travel, sea travel or hotel
                accommodation,
                to the amounts set out in the provisions of,
                respectively, the Warsaw Convention 1929 (as
                amended by
                the Hague Protocol 1955), the Berne Convention
                1961, the
                Geneva Convention 1973, the Athens Convention
                1974 and
                the Paris Convention 1962. IDT shall not be
                liable for
                such death, personal injury or any other loss
                suffered
                whatsoever caused by the fault of its agents,
                suppliers,
                sub-contractors or other or the fault of the
                client.</p>
            <h2><a name="optional-activities"></a>Optional
                Activities
            </h2>
            <p>Optional activities not included in the trip
                price do not
                form part of the trip or this contract. You
                accept that
                any assistance given by your group leader or
                local
                representative in arranging optional activities
                does not
                render us liable for them in any way. The
                contract for
                he provision of that activity will be between
                you and
                the activity provider.</p>
            <h2><a name="travel-insurance"></a>Travel Insurance
            </h2>
            <p>The Client MUST take out suitable travel
                insurance in
                order to take part in a tour organized by IDT.
                Travel
                insurance should be taken out at the time of
                booking.
                Your travel insurance must provide cover against
                personal accident, death, medical expenses ad
                emergency
                repatriation. We strongly recommend that it
                covers
                cancellation, curtailment, personal liability
                and loss
                of luggage and personal effects.</p>
            <p>If the Client fails to have fully comprehensive
                travel
                insurance their contract with IDT becomes null
                and void
                and IDT will no longer be able to provide any
                service to
                the client, including arranging or assisting
                with
                medical care.</p>
            <p>No liability can be accepted for the results of
                changes
                or delays, irrespective of how they are caused.
                Travel
                insurers may not cover specific activities
                within a
                holiday on their standard insurance policies and
                the
                client accepts responsibility for obtaining full
                comprehensive travel insurance for all
                activities as
                outlined in the trip notes of the tour. There
                may be
                activities not included within the planned trip
                that the
                Client chooses to undertake, they must ensure
                that these
                activities are covered under their insurance,
                particularly in relation to activities that
                insurance
                deems as high risk (eg white water rafting,
                paragliding,
                skiing, etc).</p>
            <h2><a name="health"></a>Health</h2>
            <p>The client also agrees that:</p>
            <p>All persons travelling are fit and physically
                able to
                partake unaided in their chosen itinerary.</p>
            <p>All parties acknowledge the physical demands and
                hazards
                involved in the tour they will be undertaking
                and have
                chosen to participate at their own risk.</p>
            <p>All parties understand that any medical or
                dietary
                information provided to IDT does not, under any
                circumstances, make IDT liable if a particular
                condition
                exacerbates while on tour or affects their
                ability to
                participate in any portion of the tour.</p>
            <p>All customers are required to familiarise
                themselves with
                any health requirements specific to India. Any
                pre-existing health conditions must be discussed
                with
                your doctor who can confirm your suitability to
                travel
                on your chosen tour.</p>
            <p>If you or any member of your party has any
                medical
                conditions, dietary requirement/food allergy, or
                disability, which may affect you while
                travelling, you
                must provide us with full details in writing
                prior to
                making your booking so that we can assist you in
                considering the suitability of your
                arrangements. You
                must also promptly advise us if there are any
                changes to
                your health that may affect your holiday after
                your
                booking has been confirmed.</p>
            <p>In the best interests of yourself and of your
                tour group,
                IDT reserves the right to prevent you from
                further
                participation on a tour if a physical or
                psychological
                condition presents itself that significantly
                affects the
                enjoyment or wellbeing of yourself or the rest
                of your
                group.</p>
            <p>IDT will not be liable to refund any part of the
                price of
                the tour paid by you, or on your behalf, which
                you have
                not used. IDT will assist you were possible to
                make
                alternative arrangements, but does not accept
                responsibility, to accommodate any medical or
                dietary
                condition. The information provided does not,
                under any
                circumstances, make IDT liable if your condition
                exacerbates or affects your ability to
                participate in
                any portion of the tour.</p>
            <p>Your medical and dietary information is collected
                so that
                we may process your booking. Your medical and
                dietary
                information will be provided to our suppliers
                and
                partners overseas for the sole purpose of
                endeavoring to
                accommodate your condition where possible.</p>
            <h2><a name="passport-visa"></a>Passport &amp; Visa
            </h2>
            <p>Clients must ensure that they are aware of all
                relevant
                passport and visa requirements and that they
                allow
                adequate time to obtain them. Please note that
                many
                countries require that passports are valid for
                six
                months beyond the period of the Client’s stay.
                Requirements can change and it is the Clients’
                responsibility to ensure that they comply with
                current
                passport, visa and health requirements and take
                all
                necessary documents with them to gain access to
                any
                country or region which forms part of the tour.
            </p>
            <p>The Client will be solely responsible for any
                cost, loss
                or damage which he or IDT incurs as a result of
                a
                failure to obtain all necessary passports, visas
                and/or
                vaccinations.</p>
            <p>We are not responsible if you are refused entry
                to a
                country because you lack the correct passport,
                visa or
                other travel documentation.</p>
            <h2><a name="limitations-of-liabilities"></a>Limitations
                of
                Liabilities</h2>
            <p>We contract with a network of companies,
                government
                agencies and individuals to assist in the
                running of our
                trips as agent for these third parties. We are
                not
                responsible for the acts and omissions of these
                third
                parties.</p>
            <h2><a name="conduct-laws"></a>Conduct &amp; Laws
            </h2>
            <p>All participants in tours operated by IDT are
                expected to
                obey the laws and regulations of the countries
                visited
                and any failure to do so will relieve IDT of all
                obligations that it may otherwise have under the
                Contract.</p>
            <p>IDT nor it’s staff or agents will not fulfill any
                request
                for product or services which is against the
                laws and
                regulations of India.</p>
            <p>It is the Clients’ responsibility to ensure that
                he and
                the members of his Party do not behave in a way
                which
                causes offence or danger to others or which
                risks damage
                to property belonging to others. In such
                circumstances
                all suppliers (e.g. hotel managers, airline
                pilots,
                transport companies) and IDT have the right to
                terminate
                arrangements made on the Clients’ behalf, in
                which case
                IDT’s responsibility to the Client ceases
                immediately.
            </p>
            <p>Therefore, IDT will not be liable for any
                refunds,
                payment of compensation or reimbursement of any
                cost or
                expenses incurred as a result. Further, the
                Client will
                be liable to reimburse IDT for any expenses
                whatsoever
                that it incurs as a result of such behaviour.
            </p>
            <p>Full cancellation charges will then apply and no
                refund
                will be given. Furthermore, the accommodation
                owner
                shall be under no obligation whatsoever to pay
                compensation or meet any costs or expenses you
                may incur
                as a result of us terminating your booking, in
                accordance with this paragraph. If your actions
                or those
                of any member or your party cause damage to the
                accommodation in which you are staying, you
                agree to
                fully indemnify us against any claim (including
                legal
                costs) made against the accommodation owner.
                Finally,
                you are also liable to make a reimbursement to
                the
                accommodation provider for any damage caused,
                before you
                end your stay.</p>
            <h3>Seatbelts</h3>
            <p>Laws relating to the wearing of seatbelt may be
                non-existent or not enforced is some parts of
                India and
                therefore local people largely choose not to
                wear them.
                In India all our regular vehicles include
                seatbelts. It
                is expected that where seatbelts are available
                customers
                must use them and remain seated at all times
                while the
                vehicle is moving. On transport such as
                autorickshaws
                seatbelts are not available and therefore the
                Client
                travels at their own risk.</p>
            <h2><a name="entrance-fees-tip-kitty"></a>Entrance
                Fees
                &amp; Tip Kitty</h2>
            <p>Entrance fees are liable by the Client.</p>
            <p>Local tipping is customary in India. IDT’s
                tipping system
                involves passengers contributing to a kitty,
                paid
                locally to the guide, who then distributes it
                daily to
                service providers on your behalf. This avoids
                the need
                for you to consider individual tipping
                situations daily
                throughout your trip. Shown on each tour page is
                the
                estimated amount for each tour and this is
                confirmed in
                your final documentation.</p>
            <h2><a name="images"></a>Images</h2>
            <p>Hotel images featured in our brochures and
                website are
                used for illustration purposes only. Hotels
                undertake
                refurbishments and we will, were possible,
                provide
                recent images.</p>
            <p>Clients agree that any images taken of their
                likeness
                whilst a participant on tours provided by IDT or
                through
                the supply of image(s) by fellow clients, or
                social
                media, can be used in any form of media for IDT.
                You
                grant us perpetual, royalty-free, worldwide,
                irrevocable
                licence to use such images for publicity and
                promotional
                purposes.</p>
            <h2><a name="complaints"></a>Complaints</h2>
            <p>Although we do not have any jurisdIDTion over
                private
                suppliers such as restaurants and accommodation
                providers, we are always keen to have feedback
                as to
                your experience.</p>
            <p>If you have a complaint we recommend you raise it
                with
                the management of the venue immediately, in
                order to
                give them the best chance to resolve the
                problem. You
                may lose any right to compensation if you fail
                to do so.
                If the issues is not resolved to your
                satisfaction you
                should contact us. We will act as an
                intermediary to try
                and rectify the problem. In the event that we
                are unable
                to do so at the time, we will suggest
                alternatives to
                you.</p>
            <p>If the Client has a complaint about any of the
                tour
                arrangements, the Client must bring it to the
                attention
                of the tour guide or other senior representative
                of IDT
                at the time so that they may use their
                reasonable
                endeavors to rectify the situation.</p>
            <p>Should the problem remain unsolved a complaint
                must be
                made in writing to IDT within a reasonable
                period of not
                more than 3 months after completion of the tour.
            </p>
            <h2><a name="governing-law"></a>Governing Law</h2>
            <p>The contract and all matters arising from it, is
                subject
                to Indian law and the exclusive jurisdIDTion of
                the
                Indian Courts.</p>
            <h2><a name="company-details"></a>Company Details
            </h2>
            <p>Head Office<br>
                India Day Tours<br>
                (IDT Travel Private Limited)<br>
                New Delhi-11007</p>
            <p>travel@indiadaytours.com</p>
            <!-- <p>+91 9818975929,+91 7982010520</p> -->



        </div>
    </div>
</section>