<section id="section5">
    <div class="row">
        <div class="col col-10">
            <h3>SAMPLE TOURS</h3>
            <p>We offer you a totally flexible and custom service so you can see India your own way. Here are some sample tours for inspiration. All of our tours can be customised to suit your preferences.</p>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="header">
                <a href="#" routerLink="/home">
                    <img src="assets/image/humayuns-tomb-mausoleum-uai-516x412.jpg" alt="" srcset="">
                </a>
            </div>
            <div class="body">
                <h3><a href="#" routerLink="/home">Golden Triangle</a></h3>
                <p>6 Days / 5 Nights<br/>Delhi – Agra – Fatehpur Sikri – Abhaneri – Jaipur</p>
            </div>
        </div>
        <div class="card">
            <div class="header">
                <a href="#" routerLink="/home">

                    <img src="assets/image/taj-mahal-morning-uai-516x412.jpg" alt="" srcset="">
                </a>
            </div>
            <div class="body">
                <h3>
                    <a href="#" routerLink="/home">

                        Agra & Rajasthan
                    </a>
                </h3>
                <p>15 Days / 14 Nights<br/>
                    Delhi – Shekhawati – Bikaner – Jaisalmer – Sam – Jodhpur – Bera – Udaipur – Bijaipur – Jaipur – Agra</p>
            </div>
        </div>
        <div class="card">
            <div class="header">
                <a href="#" routerLink="/home">
                    
                    <img src="assets/image/jodphur-fort-blue-city-view-wide-uai-516x412.jpg" alt="" srcset="">
                </a>
            </div>
            <div class="body">
                <h3><a href="#" routerLink="/home">
                    North India</a></h3>
                <p>11 Days / 10 Nights<br/>
                    Delhi – Agra – Fatehpur Sikri – Abhaneri – Jaipur – Pushkar – Udaipur – Ranakpur – Jodhpur – Bikaner – Fatehpur – Nawalgarh – Delhi</p>
            </div>
        </div>
        <div class="card">
            <div class="header">
                <a href="#" routerLink="/home">

                    <img src="assets/image/khajuraho-erotic-sculptures-temple-airunp-uai-516x412.jpg" alt="" srcset="">
                </a>
            </div>
            <div class="body">
                <h3>
                    <a href="#" routerLink="/home">

                        North India with Khajuraho
                    </a>
                </h3>
                <p>13 Days / 12 Nights<br/>
                    Delhi – Varanasi – Khajuraho – Orchha – Agra – Jaipur – Bikaner – Jodhpur – Ranakpur – Udaipur</p>
            </div>
        </div>
        <div class="card">
            <div class="header">
                <a href="#" routerLink="/home">

                    <img src="assets/image/varanasi-ganges-north-india-tour-2-3-uai-516x412.jpg" alt="" srcset="">
                </a>
            </div>
            <div class="body">
                <h3>
                    <a href="#" routerLink="/home">

                        Varanasi, Agra & Rajasthan
                    </a>
                </h3>
                <p>14 Days / 15 Nights<br/>
                    Delhi – Udaipur – Jodhpur – Jaisalmer – Bikaner – Jaipur – Agra – Varanasi</p>
            </div>
        </div>
        <div class="card">
            <div class="header">
                <a href="#" routerLink="/home">

                    <img src="assets/image/manali-city-himalayas-uai-516x412.jpg" alt="" srcset="">
                </a>
            </div>
            <div class="body">
                <h3>
                    <a href="#" routerLink="/home">

                        Indian Himalayas
                    </a>
                </h3>
                <p>11 Days / 10 Nights<br/>
                    Delhi – Himachal Pradesh (Himalaya Region) – Chandigarh – Dalhousie – Khajjar – Dharamsala – Manali – Naggar – Shimla</p>
            </div>
        </div>
        <div class="card">
            <div class="header">
                <a href="#" routerLink="/home">

                    <img src="assets/image/kerala-alleppy-backwaters-cruise-houseboats-uai-516x412.jpg" alt="" srcset="">
                </a>
            </div>
            <div class="body">
                <h3>
                    <a href="#" routerLink="/home">

                        Kerala
                    </a>
                </h3>
                <p>9 Days / 8 Nights<br/>
                    Trivandrum – Varkala – Alleppey – Kumarakom – Periyar – Munnar – Cochin</p>
            </div>
        </div>
    </div>
</section>
