
<section id="accommodation">
    <div class="row bg">
        <div class="page-header">
            <h1>Accommodation</h1>
            <h4>Do you imagine sitting back in a historic hotel that recalls a time of the Raj?
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col col-3">
            <p>Perhaps you wish to indulge in the ultimate luxury mixing the pleasures of modern living with the best that royalty can offer.</p>
                <p>Or glamping in the most splendid of settings.</p>
                <p>Alternatively you may be looking for a simple, unadorned and rustic experience.</p>
                <p>We have safari and village homestays as options for those who would like to try something a bit different.</p>
                
        </div>
        <div class="col col-3">
            <p><strong>Let us know</strong> what your preferred style and quality of hotel and we will give you our recommendations. The hotels we arrange for our clients are ones where we have built a relationship with, so we can help facilitate a great experience. We have selected a range of accommodation that our clients have appreciated for the service and hospitality.</p>
        </div>
        <div class="col col-3">
                <h3>Meetings, Incentive, Conference and Events</h3>
                
                <p>We are happy to work with your marketing and events team to help you pull together an event in India that is outstanding. Our hotels have had considerable experience of catering for corporate clients, whether it is a small group of a dozen people to hundreds.</p>
                <p>We are able to provide additional tours and excursions for partners, or even arrange a sporting event. Whether you are a small business or a large organization we are here to make your event work for you.</p>
                
        </div>

    </div>
</section>