<section id="private-driver">
    <div class="row bg">
        <div class="page-header">
            <h1>Private Driver Service</h1>
            <h4>We provide professional English speaking drivers for individual or group tours of India.
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col col-3">
            <p>A car and driver is a great option if you want to feel completely independent.</p>
            <p>A private driver’s primary job is to drive you safely and smoothly from one place to another.</p>
            <p>A private driver is not your&nbsp;<a href="#" routerLink="/tour-guide-service/">tour guide</a>, as they are not allowed to enter monuments and show you around.</p>
        </div>
        <div class="col col-7">
            <p>Your driver can take you to good restaurants, nice places, and up to the monument ticket window, as well as give you relevant information about your tour. Your driver will wait until you finish the visit of any particular monument, and will take care of your luggage and belongings. A cost for the car, their food and accommodation will always be included in the driver’s fee.</p>
                <p>Each driver is qualified with a commercial license and has basic tourism training.</p>
                <h2>Role and duties of your private driver</h2>
                <ul>
                <li>Meet and greet you at the airport.</li>
                <li>Take you from one destination to another destination.</li>
                <li>Take you to monuments and places of interests in each city for sightseeing and visit.</li>
                <li>Take you to restaurants and great places to eat where you could taste Indian cuisine.</li>
                <li>Help you change currency if need be.</li>
                <li>Store your luggage while you are on sightseeing.</li>
                <li>Help you exchange money.</li>
                <li>Translate between you and locals if need be.</li>
                <li>They won’t be allowed to enter inside the monuments as they are not a tour guide. They will wait in the car park while you visit the monuments.</li>
                </ul>
                <p>All our drivers are experienced and have travelled extensively in all over India.</p>
                <p>Please note drivers in India speak conversational English and therefore no issues of communication. They have travelled with people from all over the world.</p>
                <p>Your tour driver is not a tour guide because one must have a valid license to become a tour guide in India.</p>
                <p>&nbsp;</p>
                <p>We always recommend travelling with a&nbsp;<a href="#" routerLink="/tour-guide-service/">tour guide in India</a>, with an experienced driver.</p>
                <p>Please see our service&nbsp;<a href="#" routerLink="/terms/">Terms &amp; Conditions</a>.</p>
                
        </div>
    </div>
</section>