<section id="section1" class="box">
    <div class="row">
        <img src="assets/image/20201230_100554.jpg"/>
    </div>
    <div class="row p2">
        <div class="col col-8">
            <h3 class="title">
            We offer a <span class="accent">completely customised</span> and personal service – whether you’d like to book a <span class="accent">magnificent custom tour</span> across India or simply need the services of a <span class="accent">reliable driver</span>
            </h3>
        </div>
        <div class="col col-2"><a routerLink="/home" class="btn-lg btn-outline btn-magenta">CONTACT US</a></div>
    </div>
</section>
<section id="section2">
    <div class="row">
        <div class="col col-3">
            <div class="decorator">
                <svg viewBox="0 0 108 21"><g id="Layer_1" data-name="Layer 1"><line x1="108" y1="20" y2="20" style="fill:none;stroke:#000;stroke-miterlimit:10"></line><path d="M72,20a18.5,18.5,0,0,0-5.83-5.49c1.25-6.14-1.39-8.13-3.84-8.88S54.32,5.12,54,0c-.32,5.12-5.88,4.89-8.33,5.63s-5.09,2.74-3.84,8.88A18.5,18.5,0,0,0,36,20" style="fill:none;stroke:#000;stroke-miterlimit:10"></path><polyline points="42 20 54 8 66 20" style="fill:none;stroke:#000;stroke-miterlimit:10"></polyline></g></svg>
            </div>
            <h2 class="heading">TRAVEL SERVICES</h2>
            <div class="decorator">
                <svg viewBox="0 0 108 21"><g id="Layer_1" data-name="Layer 1"><line y1="1" x2="108" y2="1" style="fill:none;stroke:#000;stroke-miterlimit:10"></line><path d="M36,1a18.5,18.5,0,0,0,5.83,5.49c-1.25,6.14,1.39,8.13,3.84,8.88s8,.51,8.33,5.63c.32-5.12,5.88-4.89,8.33-5.63s5.09-2.74,3.84-8.88A18.5,18.5,0,0,0,72,1" style="fill:none;stroke:#000;stroke-miterlimit:10"></path><polyline points="66 1 54 13 42 1" style="fill:none;stroke:#000;stroke-miterlimit:10"></polyline></g></svg>
            </div>
        </div>
        <div class="col col-2 p-gold">
            <p>Book your personal tour guide</p>
            <p>Book your accommodation and transport</p>
            <p>Meet you at the airport</p>
            <p>Help you exchange currency</p>
            <p>Offer 24 hour on-call service</p>
            <p>Store and carry your luggage and souvenirs</p>
        </div>
        <div class="col col-5">
            <div><h3>Planning your trip</h3>
                <p>We can design a complete itinerary for you including suggestions of our favourite places and things to see. We’ll book all your accommodation and transport, and of course we’ll drive you anywhere you like along the way.</p>
                <h3>During your trip</h3>
                <p>We’ll have a friendly driver meet you at the airport and escort you to your destination.</p>
                <p>We’ll drive you from each destination to the next – unless you prefer a train or bus which we can also arrange for you.</p>
                <p>We will be available 24 hours to drive you around to sightsee and shop.</p>
                <p>We’ll recommend great places to see and escort you to wonderful restaurants.</p>
                <h3>We respect your privacy</h3>
                <p>If you like your independence, just say so and we can leave you to it – you can see as much or as little of us as you like.</p>
                <p>Our driver will arrange his own food and accommodation.</p>
                </div>
        </div>
    </div>
</section>
<section id="section3">
    <div class="row">
        <div class="col col-3">
            <img src="assets/image/20201230_120303.jpg" alt="" srcset="">
        </div>
        <div class="col col-5">
            <h3>Tour guide service</h3>
            <p>A tour guide will travel and accompany the guests throughout the tour. A tour guide in India must have a valid guiding license from the Government of India, where they have to compete an exam and undergo 6 months theoretical and practical training.</p>
            <p>An accompanying tour guide or escort will assist you with check-in / check-out at the hotels, as well as guide you through and explain the history of monuments, places, culture, traditions and customs of the Indian people. A tour guide will be at your disposal throughout the tour.</p>
            <p>The tour guide’s fee will always include costs for their accommodation and food.</p>

            <span class="p-gold"><p>All our tour guides have valid licenses issued by the Government of India.</p></span>
        </div>
        <div class="col col-2">
            <div class="decorator">
                <svg viewBox="0 0 108 21"><g id="Layer_1" data-name="Layer 1"><line x1="108" y1="20" y2="20" style="fill:none;stroke:#000;stroke-miterlimit:10"></line><path d="M72,20a18.5,18.5,0,0,0-5.83-5.49c1.25-6.14-1.39-8.13-3.84-8.88S54.32,5.12,54,0c-.32,5.12-5.88,4.89-8.33,5.63s-5.09,2.74-3.84,8.88A18.5,18.5,0,0,0,36,20" style="fill:none;stroke:#000;stroke-miterlimit:10"></path><polyline points="42 20 54 8 66 20" style="fill:none;stroke:#000;stroke-miterlimit:10"></polyline></g></svg>
            </div>
            <a class="btn-lg btn-outline btn-yellow" href="#">MORE ABOUT OUR TOUR GUIDE SERVICE</a>
            <div class="decorator">
                <svg viewBox="0 0 108 21"><g id="Layer_1" data-name="Layer 1"><line y1="1" x2="108" y2="1" style="fill:none;stroke:#000;stroke-miterlimit:10"></line><path d="M36,1a18.5,18.5,0,0,0,5.83,5.49c-1.25,6.14,1.39,8.13,3.84,8.88s8,.51,8.33,5.63c.32-5.12,5.88-4.89,8.33-5.63s5.09-2.74,3.84-8.88A18.5,18.5,0,0,0,72,1" style="fill:none;stroke:#000;stroke-miterlimit:10"></path><polyline points="66 1 54 13 42 1" style="fill:none;stroke:#000;stroke-miterlimit:10"></polyline></g></svg>
            </div>
        </div>
    </div>
</section>
<section id="section4">
    <div class="row">
        <div class="col col-4" style="padding-left: 2em;">
            <h3 style="align-self: flex-start">Private Driver Service</h3>
            <p>A private driver is not your tour guide, as they are not allowed to enter monuments and show you around. A tour driver’s primary job is to drive you safely and smoothly from one place to another.</p>
<p>They can of course take you to good restaurants, nice places, and up to the monument ticket window, as well as give you relevant information about your tour.</p>
<p>Your driver will wait until you finish the visit of any particular monument, and will take care of your luggage and belongings.</p>
<p>A cost for the car, their food and accommodation will always be included in the driver’s fee.</p>

<p>All our drivers speak conversational English so there are no communication issues.</p>

        </div>
        <div class="col col-2">
            <div class="decorator">
                <svg viewBox="0 0 108 21"><g id="Layer_1" data-name="Layer 1"><line x1="108" y1="20" y2="20" style="fill:none;stroke:#000;stroke-miterlimit:10"></line><path d="M72,20a18.5,18.5,0,0,0-5.83-5.49c1.25-6.14-1.39-8.13-3.84-8.88S54.32,5.12,54,0c-.32,5.12-5.88,4.89-8.33,5.63s-5.09,2.74-3.84,8.88A18.5,18.5,0,0,0,36,20" style="fill:none;stroke:#000;stroke-miterlimit:10"></path><polyline points="42 20 54 8 66 20" style="fill:none;stroke:#000;stroke-miterlimit:10"></polyline></g></svg>
            </div>
            <a class="btn-lg btn-outline btn-gold" href="#">MORE ABOUT OUR PRIVATE DRIVER SERVICE</a>
            
            <div class="decorator">
                <svg viewBox="0 0 108 21"><g id="Layer_1" data-name="Layer 1"><line y1="1" x2="108" y2="1" style="fill:none;stroke:#000;stroke-miterlimit:10"></line><path d="M36,1a18.5,18.5,0,0,0,5.83,5.49c-1.25,6.14,1.39,8.13,3.84,8.88s8,.51,8.33,5.63c.32-5.12,5.88-4.89,8.33-5.63s5.09-2.74,3.84-8.88A18.5,18.5,0,0,0,72,1" style="fill:none;stroke:#000;stroke-miterlimit:10"></path><polyline points="66 1 54 13 42 1" style="fill:none;stroke:#000;stroke-miterlimit:10"></polyline></g></svg>
            </div>
        </div>
        <div class="col col-4">
            <img src="assets/image/20201230_120303.jpg" alt="" srcset="">
        </div>
    </div>
</section>
<app-tours></app-tours>

<section id="section6">
    <div class="row">
        
        
        
        <div class="box box1 col col-5">
            <div class="decorator">
                <svg viewBox="0 0 108 21"><g id="Layer_1" data-name="Layer 1"><line x1="108" y1="20" y2="20" style="fill:none;stroke:#000;stroke-miterlimit:10"></line><path d="M72,20a18.5,18.5,0,0,0-5.83-5.49c1.25-6.14-1.39-8.13-3.84-8.88S54.32,5.12,54,0c-.32,5.12-5.88,4.89-8.33,5.63s-5.09,2.74-3.84,8.88A18.5,18.5,0,0,0,36,20" style="fill:none;stroke:#000;stroke-miterlimit:10"></path><polyline points="42 20 54 8 66 20" style="fill:none;stroke:#000;stroke-miterlimit:10"></polyline></g></svg>
            </div>
            <h3>
                ACCOMMODATION
            </h3>
            <p>
                Our preferred hoteliers are those who have shown our clients the care and attention we know you deserve. Our standard hotels are 3-4 Star and many of our clients like to upgrade to 5 Star and 5 Star Luxury, or mix the styles of accommodation within an itinerary.
            </p>
            <br/>
            <a href="#" routerLink="/home" class="btn-lg btn-outline btn-gold" style="margin-bottom: 5px;">See our unique accommodation options</a>
            <div class="decorator">
                <svg viewBox="0 0 108 21"><g id="Layer_1" data-name="Layer 1"><line y1="1" x2="108" y2="1" style="fill:none;stroke:#000;stroke-miterlimit:10"></line><path d="M36,1a18.5,18.5,0,0,0,5.83,5.49c-1.25,6.14,1.39,8.13,3.84,8.88s8,.51,8.33,5.63c.32-5.12,5.88-4.89,8.33-5.63s5.09-2.74,3.84-8.88A18.5,18.5,0,0,0,72,1" style="fill:none;stroke:#000;stroke-miterlimit:10"></path><polyline points="66 1 54 13 42 1" style="fill:none;stroke:#000;stroke-miterlimit:10"></polyline></g></svg>
            </div>
        </div>
        <div class="col col-5">&nbsp;</div>
        
    </div>
</section>